$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?fb1633801288740115b2ee1ee84840fc") format("truetype"),
url("./flaticon.woff?fb1633801288740115b2ee1ee84840fc") format("woff"),
url("./flaticon.woff2?fb1633801288740115b2ee1ee84840fc") format("woff2"),
url("./flaticon.eot?fb1633801288740115b2ee1ee84840fc#iefix") format("embedded-opentype"),
url("./flaticon.svg?fb1633801288740115b2ee1ee84840fc#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "play-button-arrowhead": "\f101",
    "pin": "\f102",
    "menu": "\f103",
    "arrow-pointing-to-right": "\f104",
    "email": "\f105",
    "arrow-pointing-to-left": "\f106",
    "bag": "\f107",
);

.flaticon-play-button-arrowhead:before {
    content: map-get($flaticon-map, "play-button-arrowhead");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-arrow-pointing-to-right:before {
    content: map-get($flaticon-map, "arrow-pointing-to-right");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-arrow-pointing-to-left:before {
    content: map-get($flaticon-map, "arrow-pointing-to-left");
}
.flaticon-bag:before {
    content: map-get($flaticon-map, "bag");
}
